{% extends "core/base.html" %}
{% block title %}Password Reset Done{% endblock title %}
{% block body %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-10">
   <h3>Password Reset</h3>
   <hr>
   <p>An Email has been sent with instructions to reset your password. <b>Check Your Email.</b></p>
   <div><iframe src="https://giphy.com/embed/ibolle3moqHE3PQTtk" width="200" height="200" class="giphy-embed" frameborder="0" allowfullscreen></iframe></div>
  </div>
 </div>
{% endblock body %}